#prodContainerMain {
    padding: 10px;
}

#one {
    background: #e14c4c;
    width: 60vw;
    height: 90vh;

    border-radius: 5px;
    border: rgba(61, 61, 61, 0.582) solid 1px;
    box-shadow: 2px 3px 8px rgba(93, 81, 81, 0.3);
}

#two {
    /* background: #aaf2f2; */
    width: 35vw;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    border: gray solid 1px;
    box-shadow: 2px 3px 8px rgba(93, 81, 81, 0.3);

}

#three {
    width: 35vw;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    border: #4CAF50 solid 1px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    gap: 35px;

    align-items: end;

}

#test {
    font-family: "garamond";
    font-size: 32px;
    align-items: center;
    display: grid;
    flex-direction: row;
}

.CartButton {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: black;
    padding: 10px;
    font-size: large;
    min-width: 35%;
    border-radius: 8px;
    margin: 3px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
}

.ProductDetails {
    display: flex;
    flex-direction: row;
    gap: 10px;

    justify-content: center;
    align-items: start;
    padding: 10px;

    position: relative;
}

.nameID {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.priceCart {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.Rating {
    /* height: 35vh;
    width: 25vw;
*/
    min-width: 30%; 


    gap: 20px;
    align-content: space-between; 

}

.Review{
    min-width: 60%;
}

.description {
    margin: 60px;
}

.prod_Image {
    height: 100%;
    width: 100%;

    min-width: 100%;
    object-fit: fill;
    border-radius: 8px;
}

.prod_Info {
    display: flex;
    flex-direction: column;
}

.Cust_Img {
    border-radius: 28px;
    border: rgb(112, 25, 33) solid 1px;
    height:100px;
    width:100px;
    margin: 15px;
}

