/* Footer Section Css Begins Here. */



/* HeroSection Css Begins Here. */
.HeroSection{
    margin-top: 60px;
    background-color: antiquewhite;
    height: auto;
    width: 100%;
}

.ProductPageScroll{
    overflow-x: scroll;
    display: "flex";
    height: "90vh";
}

.custom-spotlight-card{
    height: 40vh;
    width:25vw;
    margin:20px;
}








