/* Footer Section Css Begins Here. */



/* HeroSection Css Begins Here. */
.HeroSection {
    margin-top: 60px;
    background-color: antiquewhite;
    height: auto;
    width: 100%;
}

.ProductPageScroll {
    overflow-x: scroll;
    display: "flex";
    height: "90vh";
}

.custom-spotlight-card {
    height: 40vh;
    width: 25vw;
    margin: 20px;
}

.testimonialText {
    color: #F5F5F3;
}

.testimonialsImage {
    border-radius: 50%;
    border: 1px solid gray;
    height: 100px;
    width: 100px;
    align-self: center;
}

/* WhyChooseUs Section CSS */

.WCU_Main {
    padding: 20px;
}

.info,
#cards1,
#cards2,
#cards3,
#cards4,
#cards5 {

    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: #3900d7 solid 2px;
    text-align: center;
    max-width: 10vw;

}

#cards1{
    justify-self: center;
}

.InfoCardsGrid2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.InfoCardsGrid3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#cards1{
    justify-self: center;
}
#cards1{
    justify-self: center;
}

.InfoCardsGrid {
    grid-template-columns: 3 repeat(2fr, 1fr, 2fr);
    grid-template-rows: 2 repeat(1fr, 1fr);
}

.InfoCardContainer {
    display: flex;
    flex-direction: row;
}