.exploreSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.one {
    background-color: pink;
    min-width: 49vw;
    min-height: 20vh;
    border: solid black 1px;
    text-align: center;
    padding-top: 12.5vh;
    padding-bottom: 12.5vh;
}

.two {
    background-color: pink;
    min-width: 49vw;
    min-height: 20vh;
    border: solid black 1px;
    text-align: center;
    padding-top: 12.5vh;
    padding-bottom: 12.5vh;
}

.calendar {
    align-self: center;
    min-height: 70vh;
    width: 50%;
    border: solid black 2px;
    background-color: rgb(5, 50, 139);
    color: azure;
    margin-left: 25vw;
    margin-right: 25vw;
}

.Reg_Log{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
}