.cartMainContainer {
  margin-top: 40px;
  background-color: rgb(255, 244, 239);
}
.left {
  min-width: 70vw;
  max-width: 70vw;
  min-height: 100vh;
  max-height: 100vh;

  margin-top: 20px;

  background-color: rgb(255, 227, 213);
}

.right {
  min-width: 30vw;
  max-width: 30vw;
  min-height: 100vh;
  max-height: 100vh;

  margin-top: 20px;
  background-color: rgb(255, 218, 175);
}

.title{
    padding-left: 20px;
    padding-right: 20px;
}
