.Navbar {
  z-index: 1000;
  padding: 5px;
  position: fixed;
  top: 0px;

  color: rgb(243, 146, 56);
  background: rgba(20, 20, 20, 0.55);/* dark glass */  
  /* background-color: rgba(250, 250, 250, 0.2); */
  backdrop-filter: blur(12px) saturate(100%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);

  height: 50px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Navbar.light {
  background: rgba(255,255,255,0.55); /* light glass */
  color: #222;
}

.Navbar.dark {
  background: rgba(20,20,20,0.65); /* dark glass */
  color: #fff;
}

.Navbar.dark .navbarThings{
  color: #F5F5F3;
}

.navbarThings {
  /* font-family: "Times New Roman", Times, serif; */
  font-family: Garamond, serif;
  font-weight: bolder;
  font-size: larger;
  color: #A47551;
  margin: 10px;
}