/* Footer Section Css Begins Here. */
.Footer{
    position:fixed;
    bottom: 0px;

    margin:0px;
    padding: 40px;
    color: #D6B370;
    height: 200px;
    width: 100%;
    background-color: #2A2A2A;
    
    display: flex;
    flex-direction: row;
    gap: 90px;
}
#FooterText{
    font-family:"serif";
}

.Logo{

    height: 220px;
    width:225px
}